<div id="modal" class="modal fade" tabindex="-1">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<script>
    const modal = new bootstrap.Modal(document.getElementById("modal"));

    htmx.on("htmx:afterSwap", (e) => {
        if (e.detail.target.id == "dialog") {
            console.log("Modal content loaded, displaying modal...");
            modal.show();
        }
    });

    htmx.on("htmx:beforeSwap", (e) => {
        if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
            modal.hide();
            e.detail.shouldSwap = false;
        }
    });
</script>